{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'meghana.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>Anger</title>
</head>

<body>
  <div class="heading">
    <h1 style="color:#fff;">ANGER</h1>
  </div>
  <div class="carousel">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container pic1">
            <img class="img" src="{% static 'anger1.png' %}" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pic2">
            <img class="img" src="{% static 'anger2.png' %}"  alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pic3">
            <img class="img" src="{% static 'anger3.png' %}"  alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span style="background-color:black;height:40px;width:60px;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" class="btn">
          <span style="background-color:black; height:40px;width:60px;" class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container description" style="color: #ff4c68;font-size: 10px;">
    <h3>Is Anger Always Negative?</h3>
    <p style="font-size:20px;">It’s a myth that feeling anger is bad. Anger signals that something in your life isn’t right and motivates you to make positive changes. It energizes you to fight for survival when you are threatened. Anger is only negative when it hurts you or others.<br>

Most people get angry a few times a week. It’s usually tied to other feelings like frustration, disappointment, vulnerability, fear, stress, shame or hurt. Getting in touch with the underlying causes of anger helps you respond in a healthy and productive way.<br>

Anger and aggression are often confused. While anger is a feeling, aggression includes hostile or violent behavior and attitudes.</p><br>
<h3>Dealing with anger</h3>
<p style="font-size:20px;">Several ways of reacting to anger are negative and destructive, including:<br>

Expression. Venting your feelings with temper tantrums, shouting, name calling and slamming doors may make you feel better, but it victimizes those around you.<br>

Suppression. Many people deny their anger. But swallowing anger can lead to feelings of guilt. Or, it can lead to misdirecting your anger toward others — for example, acting angry with your family because you’re frustrated at a work situation.<br>

Repression. Denying your anger and burying it deeply is self-destructive. Eventually your powerful, buried emotions can surface to overwhelm and incapacitate you or slowly make you negative and bitter.<br>

Confession is a constructive way to deal with anger by putting your feelings into words instead of action. Talk out feelings, rather than act them out. Label them and begin to discuss them. Confession allows you to decrease the intensity of the feeling, decrease the duration the negative feeling intrudes in your life and decrease the frequency of that feeling.</p><br>
<h3>Anger can affect your health</h3>
<p style="font-size:20px;">Unless you learn to manage your anger, it can eat away at you. Long-term and intense anger have been linked to mental and physical health issues including:</p>
<li style="font-size:20px;">Anxiety</li>
<li style="font-size:20px;">Cancer</li>
<li style="font-size:20px;">Colds & flu
</li>
<li style="font-size:20px;">Depression</li>
<li style="font-size:20px;">Digestive problems</li>
<li style="font-size:20px;">Self-destructive behaviors</li>
<li style="font-size:20px;">Headaches
</li>
<li style="font-size:20px;">Heart disease
</li>
<li style="font-size:20px;">High blood pressure
</li>
<li style="font-size:20px;">Insomnia
</li>
<li style="font-size:20px;">Stroke</li>
<h3>Strategies for managing your anger</h3>
<p style="font-size:20px;">Practice relaxation techniques. Breathe deeply and repeat a calming word or phrase like “relax” or “it will be okay.” Picture a relaxing experience from your past. You may be able to cope better if you reduce stress by regularly practicing yoga or meditating.<br>

Change your thinking. Instead of becoming overly dramatic, remind yourself that the situation may not be what you hoped for but it’s not the end of the world. Ask yourself whether this will really matter five years from now.<br>

Be a better communicator. Slow down and listen carefully to others instead of saying the first thing that comes to your mind or jumping to conclusions. Also, be willing to identify and talk about your underlying feelings.<br>

Use humor. Refusing to take a situation too seriously can help you keep a more balanced perspective. Don’t use sarcasm, though, because it hurts others and can make things worse.<br>

Change your environment. If certain situations often provoke you, look for ways to avoid them. Maybe you need to schedule 15 minutes of solitude after work. Or avoid balancing your checkbook on Sunday night.</p><br>
<h3>Is anger affecting your quality of life?</h3>
<p style="font-size:20px;">If you experience frequent or intense anger that is interfering with the quality of your life, consider getting help. Warning signs include feeling out-of-control, becoming physically ill or violent, getting in trouble with the law, increasing your alcohol use or using drugs, and experiencing work or school difficulties and/or relationship problems.</p>
<h3>Are you affected by someone else’s anger?</h3>
<p style="font-size:20px;">Remember that you aren’t to blame, and you can’t control their reactions only how you respond. Some tips that can help are to:</p>
<li style="font-size:20px;">Set clear boundaries about what you will and won’t tolerate.
</li>
<li style="font-size:20px;">Wait for a time when you are both calm to talk about the anger problem.
</li>
<li style="font-size:20px;">Remove yourself from the situation if the other person does not calm down.</li>

  </div>
  <div class="container exp" style="padding-bottom:100px;">
    <h3 style="color:#ff4c68;">Experiences</h3>
    <div class="row">
      {% for i in data %}
      <div class="col-lg-4" style="padding-top: 50px;">
        <div class="card" style="width: 18rem;height: 28rem;">
          <div class="card-body" style="background-color:#ff4c68;color:#fff;text-align:center;">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.exp}}</p>

          </div>
        </div>
      </div>
     {% endfor %}
  </div>
  </div>
  <div class="container share">
    <h3 style="color:#ff4c68;">Share ur Experiences</h3>
    
          <form action="Anger" method="POST" class="row g-3">
              {%csrf_token%}
        <div class="col-12">
          <label for="Name" class="form-label">Name</label>
          <input name="name"type="text" class="form-control" id="inputFirstname">
        </div>
        <div class="col-12">
            <label for="inputDisease" class="form-label">Concern</label>
            <br>
            <select name='option' required>
              <option value="depression">Depression</option>
              <option value="grief">Grief</option>
              <option value="anger">Anger</option>
              <option value="anxiety">Anxiety</option>
              <option value="bullying">Bullying</option>
            </select>
  
          </div>
          <div class="col-md-12">
            <label for="inputFirstname" class="form-label">Type in your Feedback</label>
            <textarea class="form-control" name="feedback" rows="4" cols="50">
          </textarea>
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
  
        </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
</body>

</html>