{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'meghana.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>Anxiety</title>
</head>

<body>
  <div class="heading">
    <h1 style="color:#fff;">ANXIETY</h1>
  </div>
  <div class="carousel">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container pic1">
            <img class="img" src="{% static 'anxiety.png' %}"  alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pic2">
            <img class="img" src="{% static 'anxiety2.png' %}" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pic3">
            <img class="img" src="{% static 'anxiety3.png' %}" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span style="background-color:black;height:40px;width:60px;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" class="btn">
          <span style="background-color:black; height:40px;width:60px;" class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container description" style="color: #ff4c68;font-size: 10px;">
    <h3>Overview</h3>
    <p style="font-size:20px;">Anxiety is your body’s natural response to stress. It’s a feeling of fear or apprehension about what’s to come. The first day of school, going to a job interview, or giving a speech may cause most people to feel fearful
      and nervous.<br>
      But if your feelings of anxiety are extreme, last for longer than six months, and are interfering with your life, you may have an anxiety disorder.</p><br>
    <h3>What are anxiety disorders?</h3>
    <p style="font-size:20px;">It’s normal to feel anxious about moving to a new place, starting a new job, or taking a test. This type of anxiety is unpleasant, but it may motivate you to work harder and to do a better job. Ordinary anxiety is a
      feeling that comes and goes, but does not interfere with your everyday life.<br>

      In the case of an anxiety disorder, the feeling of fear may be with you all the time. It is intense and sometimes debilitating.<br>

      This type of anxiety may cause you to stop doing things you enjoy. In extreme cases, it may prevent you from entering an elevator, crossing the street, or even leaving your home. If left untreated, the anxiety will keep getting worse.<br>

      Anxiety disorders are the most common form of emotional disorder and can affect anyone at any age. According to the American Psychiatric Association, women are more likely than men to be diagnosed with an anxiety disorder.</p><br>
    <h3>What are the types of anxiety disorders?</h3>
    <p style="font-size:20px;">Anxiety is a key part of several different disorders. These include:<br>

      <li style="font-size:20px;">panic disorder: experiencing recurring panic attacks at unexpected times. A person with panic disorder may live in fear of the next panic attack.</li><br>
    <li style="font-size:20px;">
      phobia: excessive fear of a specific object, situation, or activity.
    </li><br>
    <li style="font-size:20px;">  social anxiety disorder: extreme fear of being judged by others in social situations.</li>
    <br>
<li style="font-size:20px;">obsessive-compulsive disorder: recurring irrational thoughts that lead you to perform specific, repeated behaviors.</li>
      <br>
<li style="font-size:20px;">separation anxiety disorder: fear of being away from home or loved ones.</li>
      <br>
<li style="font-size:20px;">illness anxiety disorder: anxiety about your health (formerly called hypochondria).</li>
      <br>
<li style="font-size:20px;">post-traumatic stress disorder (PTSD): anxiety following a traumatic event</li>
      </p>.<br>
    <h3>What are the symptoms of anxiety?</h3>
    <p style="font-size:20px;">Anxiety feels different depending on the person experiencing it. Feelings can range from butterflies in your stomach to a racing heart. You might feel out of control, like there’s a disconnect between your mind and
      body.<br>

      Other ways people experience anxiety include nightmares, panic attacks, and painful thoughts or memories that you can’t control. You may have a general feeling of fear and worry, or you may fear a specific place or event.<br>

      Symptoms of general anxiety include:</p><br>
<li style="font-size:20px;">increased heart rate</li>
      <br>
      <li style="font-size:20px;">rapid breathing</li>
      <br>
      <li style="font-size:20px;">restlessness</li>
      <br>
      <li style="font-size:20px;">trouble concentrating</li>
      <br>
      <li style="font-size:20px;">difficulty falling asleep</li>
      <br>
      <p style="font-size:20px;">
        Your anxiety symptoms might be totally different from someone else’s. That’s why it’s important to know all the ways anxiety can present itself.
      </p><br>
    <h3>What is an anxiety attack?</h3>
    <p style="font-size:20px;">An anxiety attack is a feeling of overwhelming apprehension, worry, distress, or fear. For many people, an anxiety attack builds slowly. It may worsen as a stressful event approaches.<br>

      Anxiety attacks can vary greatly, and symptoms may differ among individuals. That’s because the many symptoms of anxiety don’t happen to everyone, and they can change over time.<br>

      Common symptoms of an anxiety attack include:</p><br>
<li style="font-size:20px;">feeling faint or dizzy</li>
      <br>
      <li style="font-size:20px;">shortness of breath</li>
      <br>
      <li style="font-size:20px;">dry mouth</li>
      <br>
      <li style="font-size:20px;">sweating</li>
      <br>
      <li style="font-size:20px;">chills or hot flashes</li>
      <br>
      <li style="font-size:20px;">apprehension and worry</li>
      <br>
      <li style="font-size:20px;">restlessness</li>
      <br>
      <li style="font-size:20px;">distress</li>
      <br>
      <li style="font-size:20px;">fear</li>
      <br>
      <li style="font-size:20px;">numbness or tingling</li>
      <br>
      <p style="font-size:20px;">A panic attack and an anxiety attack share some common symptoms, but they’re not the same.</p><br>
    <h3>What causes anxiety?</h3>
    <p style="font-size:20px;">Researchers are not sure of the exact cause of anxiety. But, it’s likely a combination of factors play a role. These include genetic and environmental factors, as well as brain chemistry.<br>

      In addition, researchers believe that the areas of the brain responsible for controlling fear may be impacted.<br>

      Current research of anxiety is taking a deeper look at the parts of the brain that are involved with anxiety. </p><br>
    <h3>Are there tests that diagnose anxiety?</h3>
    <p style="font-size:20px;">A single test can’t diagnose anxiety. Instead, an anxiety diagnosis requires a lengthy process of physical examinations, mental health evaluations, and psychological questionnaires.<br>

      Some doctors may conduct a physical exam, including blood or urine tests to rule out underlying medical conditions that could contribute to symptoms you’re experiencing.<br>

      Several anxiety tests and scales are also used to help your doctor assess the level of anxiety you’re experiencing.</p><br>
    <h3>What are treatments for anxiety?</h3>
    <p style="font-size:20px;">Once you’ve been diagnosed with anxiety, you can to explore treatment options with your doctor. For some people, medical treatment isn’t necessary. Lifestyle changes may be enough to cope with the symptoms.<br>

      In moderate or severe cases, however, treatment can help you overcome the symptoms and lead a more manageable day-to-day life.<br>

      Treatment for anxiety falls into two categories: psychotherapy and medication. Meeting with a therapist or psychologist can help you learn tools to use and strategies to cope with anxiety when it occurs.<br>

      Medications typically used to treat anxiety include antidepressants and sedatives. They work to balance brain chemistry, prevent episodes of anxiety, and ward off the most severe symptoms of the disorder.</p><br>
    <h3>What natural remedies are used for anxiety?</h3>
    <p style="font-size:20px;">Lifestyle changes can be an effective way to relive some of the stress and anxiety you may cope with every day. Most of the natural “remedies” consist of caring for your body, participating in healthy activities, and
      eliminating unhealthy ones.<br>

      These include:<br>
<li style="font-size:20px;">getting enough sleep</li>
      <br>
      <li style="font-size:20px;">meditating</li>
      <br>
      <li style="font-size:20px;">staying active and exercising</li>
      <br>
      <li style="font-size:20px;">eating a healthy diet</li>
      <br>
      <li style="font-size:20px;">staying active and working out</li>
      <br>
      <li style="font-size:20px;">avoiding alcohol</li>
      <br>
      <li style="font-size:20px;">avoiding caffeine</li>
      <br>
      <li style="font-size:20px;">quitting smoking cigarettes</li>
      </p><br>
  </div>
  <div class="container exp" style="padding-bottom:100px;">
    <h3 style="color:#ff4c68;">Experiences</h3>
    <div class="row">
      {% for i in data %}
      <div class="col-lg-4" style="padding-top: 50px;">
        <div class="card" style="width: 18rem;height: 28rem;">
          <div class="card-body" style="background-color:#ff4c68;color:#fff;text-align:center;">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.exp}}</p>

          </div>
        </div>
      </div>
     {% endfor %}
  </div>
  </div>
  <div class="container share">
    <h3 style="color:#ff4c68;">Share ur Experiences</h3>
    
          <form action="Anxiety" method="POST" class="row g-3">
              {%csrf_token%}
        <div class="col-12">
          <label for="Name" class="form-label">Name</label>
          <input name="name"type="text" class="form-control" id="inputFirstname">
        </div>
        <div class="col-12">
            <label for="inputDisease" class="form-label">Concern</label>
            <br>
            <select name='option' required>
              <option value="depression">Depression</option>
              <option value="grief">Grief</option>
              <option value="anger">Anger</option>
              <option value="anxiety">Anxiety</option>
              <option value="bullying">Bullying</option>
            </select>
  
          </div>
          <div class="col-md-12">
            <label for="inputFirstname" class="form-label">Type in your Feedback</label>
            <textarea class="form-control" name="feedback" rows="4" cols="50">
          </textarea>
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
  
        </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
</body>

</html>