{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'meghana.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>Bullying</title>
</head>

<body>
  <div class="heading">
    <h1 style="color:#fff;">BULLYING</h1>
  </div>
  <div class="carousel">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container pic1">
            <img class="img" src="{% static 'bullying1.png' %}" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pic2">
            <img class="img" src="{% static 'bullying2.png' %}" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pic3">
            <img class="img" src="{% static 'bullying3.png' %}" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span style="background-color:black;height:40px;width:60px;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" class="btn">
          <span style="background-color:black; height:40px;width:60px;" class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container description" style="color: #ff4c68;font-size: 10px;">
    <h3>What is Bullying?</h3>
    <p style="font-size:20px;">An aggressive behavior that is intentional and involves an imbalance of power or strength, bullying is a repeated behavior and can be physicial, verbal or relational. It can take many forms including:</p>
    <li style="font-size:20px;">Physical violence</li>
    <li style="font-size:20px;">Intimidation and threats</li>
    <li style="font-size:20px;">Name calling and belittling</li>
    <li style="font-size:20px;">Social exclusion (i.e. leaving someone out of social gatherings and activities)</li>
    <li style="font-size:20px;">Gossiping and spreading rumors</li>
    <li style="font-size:20px;">Public humilation</li>
    <li style="font-size:20px;">Using slurs, words or phrases that characterize a victim as unacceptable or worthless</li>
    <h3>Who is at Risk?</h3>
    <p style="font-size:20px;">Bullies target people for a variety of reasons:</p>
    <li style="font-size:20px;">Good at what they do (i.e. sports or receives a coveted award)</li>
    <li style="font-size:20px;">Does well at school or work
</li>
<li style="font-size:20px;">Is popular or well liked</li>
<li style="font-size:20px;">Has few or no friends</li>
<li style="font-size:20px;">Personal vulnerabilities (i.e. introverted, anxious or submissive)</li>
<li style="font-size:20px;">Physical features that attract attention</li>
<li style="font-size:20px;">Disease or illness
</li>
<li style="font-size:20px;">Different sexual orientation</li>
<li style="font-size:20px;">Different religious or cultural beliefs
</li>
<li style="font-size:20px;">Belong to a different racial group</li>
<p style="font-size:20px;">Kids who are overweight, gay (or perceived to be gay) or have a disability are up to 63% more likely to be bullied.</p>
<h3>Warning Signs of Bullying</h3>
<li style="font-size:20px;">Unexplained cuts, bruises, scratches and/or missing or torn pieces of clothing
</li>
<li style="font-size:20px;">Afraid to go to school or other social activities
</li>
<li style="font-size:20px;">Spends no time with friends or seems to have very few friends
</li>
<li style="font-size:20px;">Loss of interest in school or other activities that were previously enjoyed</li>
<li style="font-size:20px;">Suddenly begins to do poorly in school</li>
<li style="font-size:20px;">Sad, moody, teary or depressed after school or other social acitvities
</li>
<li style="font-size:20px;">Acts anxious, withdrawn or isolates self</li>
<li style="font-size:20px;">Low self-esteem</li>
<li style="font-size:20px;">Changes in sleep and eating patterns</li>
<h3>Effects of Being Bullied</h3>
<p style="font-size:20px;">Bullying can lead victims to feel tense, afraid, sad, lonely, unable to concentrate and can lead to lower grades, school avoidance, lower self-esteem, depression, anxiety and health complaints. Although kids who are bullied are at higher risk of suicide, bullying alone is not the cause. Many issues contribute to suicide risk, including depression, problems at home and trauma history.</p>
<h3>Strategies to Counter Bullying</h3>
<li style="font-size:20px;">Act confident and try to ignore</li>
<li style="font-size:20px;">Walk away from the bully
</li>
<li style="font-size:20px;">Avoid typical bullying places (back of bus, certain social websites, etc.)</li>
<li style="font-size:20px;">Stick with allies (walk together, sit in a group) – there is comfort and strength in numbers
</li>
<li style="font-size:20px;">Use humor
</li>
<li style="font-size:20px;">Get help from an adult</li>
<p style="font-size:20px;">Counseling and therapy are helpful in working through the depression, anxiety and feelings caused by being bullied. A therapist can also teach new skills such as coping with bullies, problem-solving skills and how to walk away from a bully.</p>
<h3>What About Help for the Bully?</h3>
<p style="font-size:20px;">Some people bully because they feel insecure, haven’t learned to manage anger and other strong emotions, don’t know how to work out conflict cooperatively or have been (or still are) the victims of bullying, trauma or abuse.<br>

Kids who bully others are more likely to use alcohol and drugs as teens, get into fights, drop out of school and be abusive to their spouses, partners and children as adults.<br>

Professional counseling can help those who bully learn to deal with their feelings and underlying reasons for bullying, pratice stress management skills and improve their social skills.</p>
  </div>
  <div class="container exp" style="padding-bottom:100px;">
    <h3 style="color:#ff4c68;">Experiences</h3>
    <div class="row">
      {% for i in data %}
      <div class="col-lg-4" style="padding-top: 50px;">
        <div class="card" style="width: 18rem;height: 28rem;">
          <div class="card-body" style="background-color:#ff4c68;color:#fff;text-align:center;">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.exp}}</p>

          </div>
        </div>
      </div>
     {% endfor %}
  </div>
  </div>
  <div class="container share">
    <h3 style="color:#ff4c68;">Share ur Experiences</h3>
    
          <form action="Bullying" method="POST" class="row g-3">
              {%csrf_token%}
        <div class="col-12">
          <label for="Name" class="form-label">Name</label>
          <input name="name"type="text" class="form-control" id="inputFirstname">
        </div>
        <div class="col-12">
            <label for="inputDisease" class="form-label">Concern</label>
            <br>
            <select name='option' required>
              <option value="depression">Depression</option>
              <option value="grief">Grief</option>
              <option value="anger">Anger</option>
              <option value="anxiety">Anxiety</option>
              <option value="bullying">Bullying</option>
            </select>
  
          </div>
          <div class="col-md-12">
            <label for="inputFirstname" class="form-label">Type in your Feedback</label>
            <textarea class="form-control" name="feedback" rows="4" cols="50">
          </textarea>
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
  
        </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
</body>

</html>