{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'meghana.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>DEPRESSION</title>
</head>

<body>
  <div class="heading">
    <h1 style="color:#fff;">DEPRESSION</h1>
  </div>
  <div class="carousel">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container pic1">
            <img class="img" src="{% static 'depression1.png' %}" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pic2">
            <img class="img" src="{% static 'depression2.png' %}" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pic3">
            <img class="img" src="{% static 'depression3.png' %}" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span style="background-color:black;height:40px;width:60px;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" class="btn">
          <span style="background-color:black; height:40px;width:60px;" class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container description" style="color: #ff4c68;font-size: 10px;">
    <h3>Overview</h3>
    <p style="font-size:20px;">Depression is classified as a mood disorder. It may be described as feelings of sadness, loss, or anger that interfere with a person’s everyday activities.<br>

It’s also fairly common. The Centers for Disease Control and Prevention (CDC)Trusted Source estimates that 8.1 percent of American adults ages 20 and over had depression in any given 2-week period from 2013 to 2016.<br>

People experience depression in different ways. It may interfere with your daily work, resulting in lost time and lower productivity. It can also influence relationships and some chronic health conditions.<br>

Conditions that can get worse due to depression include:</p><br>
<li style="font-size:20px;">arthritis</li>
<li style="font-size:20px;">asthma
</li>
<li style="font-size:20px;">cardiovascular disease</li>
<li style="font-size:20px;">cancer</li>
<li style="font-size:20px;">diabetes
</li>
<li style="font-size:20px;">obesity
</li>
<p style="font-size:20px;">It’s important to realize that feeling down at times is a normal part of life. Sad and upsetting events happen to everyone. But, if you’re feeling down or hopeless on a regular basis, you could be dealing with depression.

Depression is considered a serious medical condition that can get worse without proper treatment. Those who seek treatment often see improvements in symptoms in just a few weeks.</p>
    <h3>Depression symptoms</h3>
    <p style="font-size:20px;">Depression can be more than a constant state of sadness or feeling “blue.”

Major depression can cause a variety of symptoms. Some affect your mood, and others affect your body. Symptoms may also be ongoing, or come and go.

The symptoms of depression can be experienced differently among men, women, and children differently.

Men may experience symptoms related to their:</p>
<li style="font-size:20px;">mood, such as anger, aggressiveness, irritability, anxiousness, restlessness</li>
<li style="font-size:20px;">emotional well-being, such as feeling empty, sad, hopeless
</li>
<li style="font-size:20px;">behavior, such as loss of interest, no longer finding pleasure in favorite activities, feeling tired easily, thoughts of suicide, drinking excessively, using drugs, engaging in high-risk activities</li>
<li style="font-size:20px;">cognitive abilities, such as inability to concentrate, difficulty completing tasks, delayed responses during conversations</li>
<li style="font-size:20px;">sleep patterns, such as insomnia, restless sleep, excessive sleepiness, not sleeping through the night</li>
<li style="font-size:20px;">physical well-being, such as fatigue, pains, headache, digestive problems
</li>
<p style="font-size:20px;">Women may experience symptoms related to their:</p>
<li style="font-size:20px;">mood, such as irritability</li>
<li style="font-size:20px;">emotional well-being, such as feeling sad or empty, anxious or hopeless</li>
<li style="font-size:20px;">behavior, such as loss of interest in activities, withdrawing from social engagements, thoughts of suicide
</li>
<li style="font-size:20px;">cognitive abilities, such as thinking or talking more slowly
</li >
<li style="font-size:20px;">sleep patterns, such as difficulty sleeping through the night, waking early, sleeping too much</li>
<li style="font-size:20px;">physical well-being, such as decreased energy, greater fatigue, changes in appetite, weight changes, aches, pain, headaches, increased cramps</li>
<p style="font-size:20px;">Children may experience symptoms related to their:</p>
<li style="font-size:20px;">mood, such as irritability, anger, mood swings, crying
</li>
<li style="font-size:20px;">emotional well-being, such as feelings of incompetence (e.g. “I can’t do anything right”) or despair, crying, intense sadness
</li>
<li style="font-size:20px;">behavior, such as getting into trouble at school or refusing to go to school, avoiding friends or siblings, thoughts of death or suicide
</li>
<li style="font-size:20px;">cognitive abilities, such as difficulty concentrating, decline in school performance, changes in grades
</li>
<li style="font-size:20px;">sleep patterns, such as difficulty sleeping or sleeping too much</li>
<li style="font-size:20px;">physical well-being, such as loss of energy, digestive problems, changes in appetite, weight loss or gain
</li>
<p style="font-size:20px;">The symptoms can extend beyond your mind.</p>
<h3>Depression causes</h3>
<p style="font-size:20px;">There are several possible causes of depression. They can range from biological to circumstantial.

Common causes include:</p>
<li style="font-size:20px;">Family history. You’re at a higher risk for developing depression if you have a family history of depression or another mood disorder.
</li>
<li style="font-size:20px;">Early childhood trauma. Some events affect the way your body reacts to fear and stressful situations.</li>
<li style="font-size:20px;">Brain structure. There’s a greater risk for depression if the frontal lobe of your brain is less active. However, scientists don’t know if this happens before or after the onset of depressive symptoms.</li>
<li style="font-size:20px;">Medical conditions. Certain conditions may put you at higher risk, such as chronic illness, insomnia, chronic pain, or attention-deficit hyperactivity disorder (ADHD).</li>
<li style="font-size:20px;">Drug use. A history of drug or alcohol misuse can affect your risk.</li>
<p style="font-size:20px;">About 21 percent of people who have a substance use problem also experience depression. In addition to these causes, other risk factors for depression include:</p>
<li style="font-size:20px;">low self-esteem or being self-critical</li>
<li style="font-size:20px;">personal history of mental illness</li>
<li style="font-size:20px;">certain medications</li>
<li style="font-size:20px;">stressful events, such as loss of a loved one, economic problems, or a divorce
</li>
<p style="font-size:20px;">Many factors can influence feelings of depression, as well as who develops the condition and who doesn’t.

The causes of depression are often tied to other elements of your health.

However, in many cases, healthcare providers are unable to determine what’s causing depression.

</p>
<h3>Depression test</h3>
<p style="font-size:20px;">There isn’t a single test to diagnose depression. But your healthcare provider can make a diagnosis based on your symptoms and a psychological evaluation.

In most cases, they’ll ask a series of questions about your:</p>
<li style="font-size:20px;">moods
</li>
<li style="font-size:20px;">appetite
</li>
<li style="font-size:20px;">sleep pattern</li>
<li style="font-size:20px;">activity level</li>
<li style="font-size:20px;">thoughts</li>
<p style="font-size:20px;">Because depression can be linked to other health problems, your healthcare provider may also conduct a physical examination and order blood work. Sometimes thyroid problems or a vitamin D deficiency can trigger symptoms of depression.

Don’t ignore symptoms of depression. If your mood doesn’t improve or gets worse, seek medical help. Depression is a serious mental health illness with the potential for complications.

If left untreated, complications can include:</p>
<li style="font-size:20px;">weight gain or loss
</li>
<li style="font-size:20px;">physical pain
</li>
<li style="font-size:20px;">substance use problems
</li>
<li style="font-size:20px;">panic attacks
</li>
<li style="font-size:20px;">relationship problems</li>
<li style="font-size:20px;">social isolation</li>
<li style="font-size:20px;">thoughts of suicide
</li>
<li style="font-size:20px;">self-harm</li>
<h3>Types of depression</h3>
<p style="font-size:20px;">Depression can be broken into categories depending on the severity of symptoms. Some people experience mild and temporary episodes, while others experience severe and ongoing depressive episodes.

There are two main types: major depressive disorder and persistent depressive disorder.

Major depressive disorder
Major depressive disorder is the more severe form of depression. It’s characterized by persistent feelings of sadness, hopelessness, and worthlessness that don’t go away on their own.

In order to be diagnosed with clinical depression, you must experience 5 or more of the following symptoms over a 2-week period:</p>
<li style="font-size:20px;">feeling depressed most of the day</li>
<li style="font-size:20px;">loss of interest in most regular activities
</li>
<li style="font-size:20px;">significant weight loss or gain</li>
<li style="font-size:20px;">sleeping a lot or not being able to sleep
</li>
<li style="font-size:20px;">slowed thinking or movement</li>
<li style="font-size:20px;">fatigue or low energy most days
</li>
<li style="font-size:20px;">feelings of worthlessness or guilt</li>
<li style="font-size:20px;">loss of concentration or indecisiveness
</li>
<li style="font-size:20px;">recurring thoughts of death or suicide
</li>
<p style="font-size:20px;">There are different subtypes of major depressive disorder, which the American Psychiatric Association refers to as “specifiers.”

These include:</p>
<li style="font-size:20px;">atypical features</li>
<li style="font-size:20px;">anxious distress</li>
<li style="font-size:20px;">mixed features
</li>
<li style="font-size:20px;">peripartum onset, during pregnancy or right after giving birth</li>
<li style="font-size:20px;">seasonal patterns</li>
<li style="font-size:20px;">melancholic features</li>
<li style="font-size:20px;">psychotic features</li>
<li style="font-size:20px;">catatonia
</li>
<p style="font-size:20px;">Persistent depressive disorder
Persistent depressive disorder (PDD) used to be called dysthymia. It’s a milder, but chronic, form of depression.

In order for the diagnosis to be made, symptoms must last for at least 2 years. PDD can affect your life more than major depression because it lasts for a longer period.

It’s common for people with PDD to:</p>
<li style="font-size:20px;">lose interest in normal daily activities
</li>
<li style="font-size:20px;">feel hopeless</li>
<li style="font-size:20px;">lack productivity</li>
<li style="font-size:20px;">have low self-esteem</li>
<p style="font-size:20px;">Depression can be treated successfully, but it’s important to stick to your treatment plan.</p>
<h3>Treatment for depression</h3>
<p style="font-size:20px;">Living with depression can be difficult, but treatment can help improve your quality of life. Talk to your healthcare provider about possible options.

The Healthline FindCare tool can provide options in your area if you don’t already have a doctor.

You may successfully manage symptoms with one form of treatment, or you may find that a combination of treatments works best.

It’s common to combine medical treatments and lifestyle therapies, including the following:

Medications
Your healthcare provider may prescribe:</p>
<li style="font-size:20px;">antidepressants</li>
<li style="font-size:20px;">antianxiety
</li>
<li style="font-size:20px;">antipsychotic medications</li>
<p style="font-size:20px;">Each type of medication that’s used to treat depression has benefits and potential risks.<br>
  Psychotherapy <br>

Speaking with a therapist can help you learn skills to cope with negative feelings. You may also benefit from family or group therapy sessions.<br>
Light therapy<br>
Exposure to doses of white light can help regulate your mood and improve symptoms of depression. Light therapy is commonly used in seasonal affective disorder, which is now called major depressive disorder with seasonal pattern.<br>

Alternative therapies<br>
Ask your healthcare provider about acupuncture or meditation. Some herbal supplements are also used to treat depression, like St. John’s wort, SAMe, and fish oil.<br>

Talk with your healthcare provider before taking a supplement or combining a supplement with prescription medication because some supplements can react with certain medications. Some supplements may also worsen depression or reduce the effectiveness of medication.<br>

Exercise<br>
Aim for 30 minutes of physical activity 3 to 5 days a week. Exercise can increase your body’s production of endorphins, which are hormones that improve your mood.<br>

Avoid alcohol and drugs<br>
Drinking or misusing drugs may make you feel better for a little bit. But in the long run, these substances can make depression and anxiety symptoms worse.<br>

Learn how to say no<br>
Feeling overwhelmed can worsen anxiety and depression symptoms. Setting boundaries in your professional and personal life can help you feel better.<br>

Take care of yourself<br>
You can also improve symptoms of depression by taking care of yourself. This includes getting plenty of sleep, eating a healthy diet, avoiding negative people, and participating in enjoyable activities.<br>

Sometimes depression doesn’t respond to medication. Your healthcare provider may recommend other treatment options if your symptoms don’t improve.<br>

These include electroconvulsive therapy (ECT), or repetitive transcranial magnetic stimulation (rTMS) to treat depression and improve your mood.</p>
<h3>Preventing depression</h3>
<p style="font-size:20px;">
  Depression isn’t generally considered to be preventable. It’s hard to recognize what causes it, which means preventing it is more difficult.

But once you’ve experienced a depressive episode, you may be better prepared to prevent a future episode by learning which lifestyle changes and treatments are helpful.

Techniques that may help include:</p>
<li style="font-size:20px;">regular exercise</li>
<li style="font-size:20px;">getting plenty of sleep</li>
<li style="font-size:20px;">maintaining treatments</li>
<li style="font-size:20px;">reducing stress</li>
<li style="font-size:20px;">building strong relationships with others</li>
<p style="font-size:20px;">Other techniques and ideas may also help you prevent depression.</p>
  </div>
  <div class="container exp" style="padding-bottom:100px;">
    <h3 style="color:#ff4c68;">Experiences</h3>
    <div class="row">
      {% for i in data %}
      <div class="col-lg-4" style="padding-top: 50px;">
        <div class="card" style="width: 18rem;height: 28rem;">
          <div class="card-body" style="background-color:#ff4c68;color:#fff;text-align:center;">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.exp}}</p>

          </div>
        </div>
      </div>
     {% endfor %}
  </div>
  </div>
  <div class="container share">
    <h3 style="color:#ff4c68;">Share ur Experiences</h3>
    
          <form action="Deppression" method="POST" class="row g-3">
              {%csrf_token%}
        <div class="col-12">
          <label for="Name" class="form-label">Name</label>
          <input name="name"type="text" class="form-control" id="inputFirstname">
        </div>
        <div class="col-12">
            <label for="inputDisease" class="form-label">Concern</label>
            <br>
            <select name='option' required>
              <option value="depression">Depression</option>
              <option value="grief">Grief</option>
              <option value="anger">Anger</option>
              <option value="anxiety">Anxiety</option>
              <option value="bullying">Bullying</option>
            </select>
  
          </div>
          <div class="col-md-12">
            <label for="inputFirstname" class="form-label">Type in your Feedback</label>
            <textarea class="form-control" name="feedback" rows="4" cols="50">
          </textarea>
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
  
        </div>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
</body>

</html>