{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rk.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Limelight&family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <!-- CSS only -->
    <script src="index.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>home</title>
</head>
<body class="obody" style="background-color: #edeef7;">
 
  <div class="card">
    <div class="container">
      <img style="height:600px;width: 1300px;" src="{% static 'OV.png' %}" alt="">
    <div class="card-body "style="background-color:#e4fbff;">
      <div style="padding-left:40px;padding-right:40px;padding-top:50px;position:relative;top: 20px;">
        <h5>What is Mental Health</h5>
        <p>Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood.</h4>
        </p>
       <p>Mental illnesses affect 19% of the adult population, 46% of teenagers and 13% of children each year. People struggling with their mental health may be in your family, live next door, teach your children, work in the next cubicle or sit in the same church pew.</h4>
       </p> 
       <p>Since 1949, Mental Health America and our affiliates across the country have observed May is Mental Health Month by reaching out to millions of people through the media, local events, and screenings. We invite other organizations to join us in spreading the word that mental health is something everyone should care about by using the May is Mental Health Month toolkit materials and conducting awareness activities.
         The COVID-19 pandemic has had a profound impact on the mental health of people of all ages. Now, more than ever, it is critical to reduce the stigma around mental health struggles, because that stigma often prevents individuals from seeking help.</h4>
      
       </p>
       <br>
       <hr  style=" border-top: 10px solid cyan;">
       <br>
        
           
             <h5>What is Mental illness?</h5>
   
           
           <p>
             Mental illnesses are conditions that affect a person’s thinking, feeling, mood or behavior, such as depression, anxiety, bipolar disorder, or schizophrenia. Such conditions may be occasional or long-lasting (chronic) and affect someone’s ability to relate to others and function each day.
           
           </p>
    
    <br>
    <hr  style=" border-top: 10px solid cyan;">
    <br>      
           
           <h5>Why is Mental health important for overall health?</h5>
           <p>
               
   Mental and physical health are equally important components of overall health.  Mental illness, especially depression, increases the risk for many types of physical health problems, particularly long-lasting conditions like stroke, type 2 diabetes, and heart disease. Similarly, the presence of chronic conditions can increase the risk for mental illness.2
   
   
           </p>
           <br>
           <hr  style=" border-top: 10px solid cyan;">
           <br>
   
           <h5>
               Can your mental health change over time?
           </h5>
   
           <p>
               
   Yes, it’s important to remember that a person’s mental health can change over time, depending on many factors.  When the demands placed on a person exceed their resources and coping abilities, their mental health could be impacted. For example, if someone is working long hours,Cdc-pdf caring for an ill relative or experiencing economic hardship they may experience poor mental health.
           </p>
   <br>
   <hr  style=" border-top: 10px solid cyan;">
   <br>
   
           <h5>How common are mental illnesses?</h5>
   
   <p>
       
   Mental illnesses are among the most common health conditions in the United States.
   
   More than 50% will be diagnosed with a mental illness or disorder at some point in their lifetime.3
   1 in 5 Americans will experience a mental illness in a given year.4
   1 in 5 children, either currently or at some point during their life, have had a seriously debilitating mental illness.5
   1 in 25 Americans lives with a serious mental illness, such as schizophrenia, bipolar disorder, or major depression.6
   </p>
   
   <br>
   <hr  style=" border-top: 10px solid cyan;" >
   <br>
   <DIV style="padding-bottom: 40px;">
     <h4>What causes Mental illness?</h4>
   <p>There is no single cause for mental illness. A number of factors can contribute to risk for mental illness, such as
   </p>
     <li>
    Early adverse life experiences, such as trauma or a history of abuse (for example, child abuse, sexual assault, witnessing violence, etc.)
     
      
   </li>
   <li> 
      Experiences related to other ongoing (chronic) medical conditionCdc-pdf, such as cancer or diabetes.
     
    </li>
   <li>
      Biological factors, such as genes or chemical imbalances in the brain
     
      
   </li>
      
   <li>
   Use of alcohol or recreational drugs
   </li>
       <li>
        Having few friends
         </li>
     <li>
       Having feeling of loneliness or isolation
       </li>   
   </h4>
   
   
  </div>
       </div>
   
    </div>
  </div>


  

   
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>